<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    	<title>Flight Reservation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Css/bootstrap.min.css">
        <link rel="stylesheet" href="/Css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/Css/fontAwesome.css">
        <link rel="stylesheet" href="/Css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body>

    
    <section class="banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="left-side">
                        <div class="logo">
                            <img src="/img/logo.png" alt="Flight Template">
                        </div>
                        <div class="tabs-content">
                            <h4>Choose Your Direction:</h4>
                            <ul class="social-links">
                                <li><a href="http://facebook.com">Find us on <em>Facebook</em><i class="fa fa-facebook"></i></a></li>
                                <li><a href="http://youtube.com">Our <em>YouTube</em> Channel<i class="fa fa-youtube"></i></a></li>
                                <li><a href="http://instagram.com">Follow our <em>instagram</em><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>


    
    <div class="blink" style="margin-top: 2%;"></div>

<!-- <a href="/product/addProduct" type="button" class="btn btn-outline-success">Add Product</a>
<a href="/category" type="button" class="btn btn-outline-success">Category List</a> -->
<!-- Start Feature Area -->
<section class="featured-area">

    <div class="container">
        <section id="main-content">
            <section class="wrapper"><br>
                <div class="row">
                    <!-- page start-->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Air Réf</th>
                                <th scope="col">Departure</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Start date</th>
                                <th scope="col">Start date</th>
                                <th scope="col">Price</th>
                                <th scope="col">Choose</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% rows.forEach(function(row){ %>
                                <tr>
                                    <th scope="row"><%= row.id_flight %>
                                    </th>
                                    <td>
                                        <%= row.departure %>
                                    </td>
                                    <td>
                                        <%= row.destination %>
                                    </td>
                                    <td>
                                        <%= row.start_date %>
                                    </td>
                                    <td>
                                        <%= row.num_place %>
                                    </td>
                                    <td>
                                        <%= row.price %>
                                    </td>
                                    <td class="center hidden-phone">
                                        <a href="/Client/Reserve/<%= row.id_flight %>" class="btn btn-outline btn-sm">Order Ticket Now</a>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
    </div>
</div>
</section>
</section>
</div>
</section>
<div class="blink" style="margin-top: 2%;"></div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="primary-button">
                        <a href="#" class="scroll-top">Back To Top</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/tooplate"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    


    
</body>
</html>